/* بسم الله الرحمن الرحيم */
/* la ilaha illa Allah Mohammed Rassoul Allah */

.bismi_allah_grid {
    display: grid;
    gap: 1px;
}

.bismi_allah_grid > * {
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: grey;
    border: 1px solid;
    border-color: black;
}

#bismi_allah_grid_auto_fit {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

#bismi_allah_grid_column_and_row {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
