<!DOCTYPE html>
{# بسم الله الرحمن الرحيم #}
{# la ilaha illa Allah Mohammed Rassoul Allah #}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}بسم الله الرحمن الرحيم{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                {{ include('bismi_allah_header.html.twig') }}
            {% endblock %}
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
