{# بسم الله الرحمن الرحيم #}
{# la ilaha illa Allah Mohammed Rassoul Allah #}

<a target="blank" href="/">bismi Allah home</a>
<a target="blank" href="/api/all">bismi Allah json api</a>
<a target="blank" href="/bismi_allah/{{ random(0, 100) }}">bismi Allah random</a>

