{# بسم الله الرحمن الرحيم #}
{# la ilaha illa Allah Mohammed Rassoul Allah #}

<a target="blank" href="/">bismi Allah home</a>
<a target="blank" href="/api/all">bismi Allah json api</a>
<a target="blank" href="/bismi_allah/{{ bismi_allah_var }}">bismi Allah {{ bismi_allah_var }}</a>

